@import './common'

.guide-main
  left: 1em
  margin-top: 1em
  position: absolute
  right: 1em
  z-index: 1

.guide-wrapper
  bottom: 0
  position: absolute
  top: 0
  transition: 2s width $ease-extreme-out, 2s left $ease-extreme-out

.guide-box
  background: linear-gradient(#f7f7f7, #eee)
  bottom: 0
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.04) inset
  left: 0
  position: absolute
  right: 1em
  top: 0


////////////////////////////////////////
// NARRATION STYLES

.narration
  overflow: hidden

  .narration-lines
    bottom: 3em
    left: 2em
    position: absolute

  .narration-line
    padding-right: 2em
    padding-top: 1.5em

  .nl-epoch
    color: #999
    font-family: $monospace
    font-size: 1.2em
    padding-bottom: 0.3em
    text-decoration: none
    &:hover
      text-decoration: underline

  .nl-content
    color: #666
    font-family: $serif
    font-size: 1.3em

    p + p
      padding-top: 0.8em

  .narration-line:last-child
    animation-duration: 4s
    animation-iteration-count: 1
    animation-name: narration-appear
    animation-timing-function: $ease-extreme-out

    .nl-content
      color: #333
      font-size: 1.8em
      line-height: 1.4em

  .count-6 .narration-line:first-child
    opacity: 0.5

  .narration-next
    background: #aaa
    bottom: 2em
    height: 0.2em
    left: 2em
    position: absolute
    transform-origin: left top
    transition: 0.5s opacity, 0.5s transform $ease-extreme-out
    width: 1em
    &.in-long
      opacity: 0
      transform: scaleX(12)
      transition: none
    @for $i from 5 through 2
      &.in-#{$i}
        transform: scaleX(#{$i - 1})
    &.in-1
      transform: scaleX(0.2)


////////////////////////////////////////
// STATUS STYLES

.status
  overflow: hidden

  .ship
    height: 20em
    left: calc(50% - 23.5em)
    position: absolute
    top: calc(50% - 10em)
    transition: 1s left $ease-extreme-out, 1s top $ease-extreme-out
    width: 47em
  .ship div
    position: absolute
    transition: 4s transform $ease-extreme-out
  .ship img
    height: 20em

  .ship-sm
    left: 0
  .ship-cm
    left: 21.4em
  .ship-lm-a
    left: 27.6em
  .ship-lm-d
    left: 36.1em

